
body {
  background-color: #f1f1f1;
}

.container {
  
}

.detail-image {
  height: 700px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#article-title {
  color: #eb6c6a;
}

.author {
  font-size: 17px;
  color: #eb6c6a;
}

.article-desc {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(107, 102, 102);
  font-size: 18px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}