<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About - Article Management</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://www.awwwards.com/favicon.ico">

  <script src="../../public/libs/jquery/dist/jquery.js"></script>
  <script src="../../public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/fb33e5b672.js"></script>
  <script src="../../public/plugins/jquery-preloader-js/js/jquery-loading.js"></script>

  <link rel="stylesheet" href="../../public/libs/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../../public/css/home-style.css">
  <link rel="stylesheet" href="../../public/css/article-style.css">
  <link href="../../public/plugins/jquery-preloader-js/css/jquery-loading.css" rel="stylesheet">
  <link rel="stylesheet" href="../../public/css/all-right-style.css">

</head>
<body>
  <div class="jumbotron">
    <div class="container text-center">
      <h1 style="color: #616161;">Newst <span class="cus-navbar-brand">Magazine</span></h1>      
      <p>Mission, Vission & Values</p>
    </div>
  </div>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="./index.html">Newst <span class="cus-navbar-brand">Magazine</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="./index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
          <li><a href="./all-rights-reserved.html"><i class="fa fa-link" aria-hidden="true"></i> About</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="text-center">
      <h1>COPYRIGHT <i class="fa fa-copyright" aria-hidden="true"></i> 2018 Ms. Panda</h1>
      <h4>Contact Info: ren.sothearin@gmail.com</h4>
      <h4>Blog: <a href="http://www.codelice.com">codelice.com</a></h4>
    </div>
  </div>
  
  <footer class="container-fluid text-center">
    <p>Subcribe Daily News</p>   
    <form class="form-inline">Subcribe:
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-danger">Count me in</button>
    </form>
  </footer>

</body>
</html>